body
  font-family: Verdana

a
  cursor: pointer

.left_slide
  position: absolute
  left: -450px
  top: 25px
  width: 400px
  height: 200px
  background: #ccc
  transition: left 0.1s linear
  padding: 20px

.center_modal
  width: 400px
  height: 200px
  background: #ccc
  z-index: 100
  padding: 20px

#modal_layer
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 99
  background: rgba(42, 42, 42, .95)
